.parent{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  background-color: #f0f0f0;
  height: 100vh;
}

.header{
    background-color: rgb(226, 148, 91);
    width: 100%;
    text-align: center;
    padding: 10px;
}

.todo-app{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-color: lightgray; */
}

.todo-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-input > input{
    width: 80%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 1rem;
}

.todo-input > input:focus{
    outline: none;
    border: 2px solid black;
}


.todo-input > button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.todo-input > button:hover{
    background-color: lightgray;
    border: 2px solid black;
}

.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.todo-item{
    background-color: wheat;
    display: block;
    width: 98%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 10px;
}

.todo-item > span{
    margin-left: 20px;
    font-size: 18px;
}

.todo-checkbox{
    width: 20px;
    height: 15px;
    cursor: pointer;
}

.todo-checkbox:hover{
    transform: scale(1.2);
}

.pencilIcon{
    width: 20px;
    height: 20px;
    color: black;
    float: right;
    cursor: pointer;
    margin-right: 12px;
    padding-top: 1.5px;
}

.trashIcon{
    width: 20px;
    height: 20px;
    color: red;
    float: right;
    cursor: pointer;
}

.editInput{
    width: 70%;
    margin-left: 20px;
    font-size: 13px;
}